@{
    ViewBag.Title = "Home Page";
}
<div>
<label id="SSEmailLabel"><i>Optional</i>: Enter an email address for Scholar Snapp</label>
<input id="SSEmail" />
  </div>
<div>
<label id="SSStateLabel"><i>Optional</i>: Enter something to append to the state</label>
<input id="SSStateAppend" />
  </div>
<button id="SSButton" data-ssurl="@ViewBag.SSUrl">Give me access to your Scholar Snapp information!</button>